{
  "openapi": "3.1.0",
  "info": {
    "title": "OpenAPI definition",
    "version": "v0"
  },
  "servers": [
    {
      "url": "https://api-prod-kcell.sapacrm.kz/client"
    },
    {
      "url": "http://localhost:8080"
    },
    {

    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Activities",
      "description": "Управление активностями клиентов"
    }
  ],
  "paths": {
    "/api/v1/segment": {
      "get": {
        "tags": [
          "Интерфейс для работы с сегментации"
        ],
        "summary": "Получить список сегментации",
        "operationId": "getAllSegments",
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Segment"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Интерфейс для работы с сегментации"
        ],
        "summary": "Редактировать сегмент",
        "operationId": "edit",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Segment"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Segment"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Интерфейс для работы с сегментации"
        ],
        "summary": "Создать сегмент",
        "operationId": "add",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Segment"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Segment"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Интерфейс для работы с сегментации"
        ],
        "summary": "Удалить сегмент",
        "operationId": "delete",
        "parameters": [
          {
            "name": "Id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/segment/update_filtes": {
      "post": {
        "tags": [
          "Интерфейс для работы с сегментации"
        ],
        "summary": "Создать сегмент",
        "operationId": "updateFilter",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SegmentFilterDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Segment"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/segment/all": {
      "post": {
        "tags": [
          "Интерфейс для работы с сегментации"
        ],
        "summary": "Получить список сегментации",
        "operationId": "all",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "id,asc"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageResponseSegment"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/production-calendar": {
      "post": {
        "tags": [
          "production-calendar-controller"
        ],
        "operationId": "create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductionCalendarDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ProductionCalendarDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/production-calendar/non-working-days": {
      "post": {
        "tags": [
          "production-calendar-controller"
        ],
        "operationId": "getNonWorkingDays",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NonWorkingDaysRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProductionCalendarDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/marks/contract/{contractId}": {
      "post": {
        "tags": [
          "Интерфейс для работы с маркировками"
        ],
        "summary": "Присваиание маркировки контракту",
        "operationId": "searchContractMark",
        "parameters": [
          {
            "name": "contractId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FilterRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageResponseClientMarkDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/marks/contract/{contractId}/{markId}": {
      "post": {
        "tags": [
          "Интерфейс для работы с маркировками"
        ],
        "summary": "Присваиание маркировки контракту",
        "operationId": "markContract",
        "parameters": [
          {
            "name": "contractId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "markId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                },
                "required": [
                  "file"
                ]
              }
            }
          }
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/marks/client/{clientId}/{markId}": {
      "post": {
        "tags": [
          "Интерфейс для работы с маркировками"
        ],
        "summary": "Присваиание маркировки клиенту",
        "operationId": "markClient",
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "markId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                },
                "required": [
                  "file"
                ]
              }
            }
          }
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/kcell_client/{client_id}/authorized-persons": {
      "post": {
        "tags": [
          "Интерфейс для работы с клиентами Kcell"
        ],
        "summary": "Добавление доверенного лица для B2B клиента",
        "description": "Создает новую запись доверенного лица и связывает её с client_id",
        "operationId": "addAuthorizedPerson",
        "parameters": [
          {
            "name": "client_id",
            "in": "path",
            "description": "ID клиента в системе",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 150
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthorizedPersonRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "200": {
            "description": "Лицо успешно добавлено",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizedPersonResponse"
                }
              }
            }
          },
          "400": {
            "description": "Некорректные данные в запросе",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizedPersonResponse"
                }
              }
            }
          },
          "404": {
            "description": "Клиент с таким ID не найден",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizedPersonResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/kcell_client/{clientId}/restore": {
      "post": {
        "tags": [
          "Интерфейс для работы с клиентами Kcell"
        ],
        "summary": "Восстановление клиента из архива",
        "description": "Находит ранее удаленного клиента по ID и восстанавливает его и все связанные сущности (адреса, контакты, B2B/B2C данные). Устанавливает поле deleted_at в NULL. Доступно только для ROLE_ADMIN.",
        "operationId": "restoreDeletedClient",
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "description": "ID удаленного клиента для восстановления",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 456
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "403": {
            "description": "Ошибка доступа: требуется роль ROLE_ADMIN",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "200": {
            "description": "Клиент успешно восстановлен. Возвращает актуальные данные клиента.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ClientDetailResponse"
                }
              }
            }
          },
          "400": {
            "description": "Ошибка запроса: клиент уже активен или данные повреждены",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ClientDetailResponse"
                }
              }
            }
          },
          "404": {
            "description": "Удаленный клиент с таким ID не найден в базе данных",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ClientDetailResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/kcell_client/b2c": {
      "post": {
        "tags": [
          "Интерфейс для работы с клиентами Kcell"
        ],
        "summary": "Создание или редактирование B2C клиента",
        "operationId": "createB2C",
        "requestBody": {
          "description": "Данные B2C клиента",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateB2CClientRequest"
              },
              "examples": {
                "Создание B2C клиента": {
                  "description": "Создание B2C клиента",
                  "value": {
                    "id": null,
                    "binIin": "010101500123",
                    "fullName": "Иванов Иван Иванович",
                    "phone": "+77011234567",
                    "residency": "KZ",
                    "registrationAddress": "Алматы, ул. Абая 10",
                    "actualAddressSameAsRegistration": true,
                    "actualAddress": null,
                    "secretWord": "ромашка",
                    "language": "RU",
                    "email": "ivanov@test.kz",
                    "otpCode": "1234"
                  }
                },
                "Редактирование B2C клиента": {
                  "description": "Редактирование B2C клиента",
                  "value": {
                    "id": 15,
                    "binIin": "010101500123",
                    "fullName": "Иванов Иван Иванович",
                    "phone": "+77011234567",
                    "email": "ivanov_new@test.kz"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ClientDetailResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/kcell_client/b2b": {
      "post": {
        "tags": [
          "Интерфейс для работы с клиентами Kcell"
        ],
        "summary": "Создание или редактирование B2B клиента",
        "operationId": "createB2B",
        "requestBody": {
          "description": "Данные B2B клиента",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateB2BClientRequest"
              },
              "examples": {
                "Создание B2B клиента": {
                  "description": "Создание B2B клиента",
                  "value": {
                    "id": null,
                    "binIin": "123456789012",
                    "companyName": "TOO Test Company",
                    "companyPhone": "+77011234567",
                    "companyEmail": "office@test.kz",
                    "legalAddress": "Астана, пр. Туран 12",
                    "actualAddressSameAsLegal": true,
                    "actualAddress": null,
                    "contactPersonFullName": "Петров Петр Петрович",
                    "contactPersonPosition": "Директор",
                    "contactPersonPhone": "+77017654321",
                    "otpCode": "1234"
                  }
                },
                "Редактирование B2B клиента": {
                  "description": "Редактирование B2B клиента",
                  "value": {
                    "id": 21,
                    "binIin": "123456789012",
                    "companyName": "TOO Updated Company",
                    "companyEmail": "office_new@test.kz"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ClientDetailResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/contract/upload_document": {
      "post": {
        "tags": [
          "Интерфейс для работы с контрактами"
        ],
        "summary": "Загрузка документа договора",
        "operationId": "uploadContractDocument",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "fileJson": {
                    "type": "string"
                  },
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                },
                "required": [
                  "file",
                  "fileJson"
                ]
              }
            }
          }
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/contract/all": {
      "post": {
        "tags": [
          "Интерфейс для работы с контрактами"
        ],
        "summary": "Получение списка контрактов по фильтру и с пагинацией",
        "operationId": "getByContractList",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "id,asc"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FilterRequest"
              }
            }
          }
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageResponseContractDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/clients/tasks/list/all": {
      "post": {
        "tags": [
          "Интерфейс для работы с задачами"
        ],
        "summary": "Получение списка всех задач",
        "operationId": "getAllTasks",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "default": "sdfsdfsdf"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "id,asc"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClientInfoFilter"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageResponseClientInfo"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/clients/segment-filter": {
      "post": {
        "tags": [
          "Сегментация"
        ],
        "summary": "Получение списка клиентов по фильтрам",
        "description": "Позволяет фильтровать клиентов по ИИН/БИН, типу и другим условиям. Если список условий пуст или отсутствует, возвращает всех клиентов.",
        "operationId": "filter",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "id,desc"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Condition"
                }
              }
            }
          }
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageCampaignClientInfoDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/clients/list/my_task": {
      "post": {
        "tags": [
          "Интерфейс для работы с задачами"
        ],
        "summary": "Получение списка задач",
        "operationId": "getClientsMyTask",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "id,asc"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClientInfoFilter"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GetClientsRs"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/clients/list/history_contract_document": {
      "post": {
        "tags": [
          "Интерфейс для работы с задачами"
        ],
        "summary": "Получение истории по документам",
        "operationId": "getHistoryContractDocument",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "id,asc"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContractDocumentFilter"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ContractDocumentDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/clients/list/history_communication_result": {
      "post": {
        "tags": [
          "Интерфейс для работы с задачами"
        ],
        "summary": "Получение истории по коммуникациям",
        "operationId": "getHistoryCommunicateResult",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "id,asc"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CommunicateResultFilter"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CommunicateResultDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/clients/filter/export": {
      "post": {
        "tags": [
          "Сегментация"
        ],
        "summary": "Получение списка клиентов с пагинацией",
        "description": "Поиск работает по номеру телефона (без +7/8), ИИН или имени. Минимальная длина — 3 символа.",
        "operationId": "exportResult",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Condition"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/clients/contract/update_mark": {
      "post": {
        "tags": [
          "Интерфейс для работы с задачами"
        ],
        "summary": "Получение деталей по клиенту",
        "operationId": "updateMark",
        "parameters": [
          {
            "name": "contractNumber",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MarkDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ContractDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/client/uploadContractInfo": {
      "post": {
        "tags": [
          "Импорт и экспорт файлов"
        ],
        "summary": "Дополнительные данные по договору, кидать запросы асинхронно по причние; сервис отвечет долго в зависимости от размера файла",
        "operationId": "uploadContractInfo",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                },
                "required": [
                  "file"
                ]
              }
            }
          }
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/client/import-contacts": {
      "post": {
        "tags": [
          "Импорт и экспорт файлов"
        ],
        "operationId": "uploadClientContacts",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                },
                "required": [
                  "file"
                ]
              }
            }
          }
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/client/addClientByFile": {
      "post": {
        "tags": [
          "Импорт и экспорт файлов"
        ],
        "summary": "Загрузка данных по клиентам в формате Excel",
        "operationId": "addClientByFile",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                },
                "required": [
                  "file"
                ]
              }
            }
          }
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/activities": {
      "post": {
        "tags": [
          "Activities"
        ],
        "summary": "Создание активности клиента",
        "operationId": "createActivity",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateActivityRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/activities/batch": {
      "post": {
        "tags": [
          "Activities"
        ],
        "summary": "Пакетное создание активностей",
        "operationId": "createActivitiesBatch",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateActivityBatchRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/vyborka/remove-duplicates": {
      "get": {
        "tags": [
          "report-selection-controller"
        ],
        "summary": "Процесс удаления дубликатов",
        "operationId": "init",
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/task-dashboard": {
      "get": {
        "tags": [
          "Виджеты"
        ],
        "summary": "Получение метрик для Dashboard(виджеты)",
        "operationId": "getMetrics",
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AnalyticBlock"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/segment/clientsBySegment": {
      "get": {
        "tags": [
          "Интерфейс для работы с сегментации"
        ],
        "summary": "Получить список клиентов по сегменту",
        "operationId": "clientsBySegment",
        "parameters": [
          {
            "name": "segmentId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageClientInfo"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/schedules/distribution_task/update": {
      "get": {
        "tags": [
          "Расписание компаний"
        ],
        "summary": "Запуск обновления задач",
        "operationId": "updateTasksForCampaign",
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {

                }
              }
            }
          }
        }
      }
    },
    "/api/v1/schedules/distribution_task/start": {
      "get": {
        "tags": [
          "Расписание компаний"
        ],
        "summary": "Запуск список задач",
        "operationId": "getAppointmentManagers",
        "parameters": [
          {
            "name": "companyGroupId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "turn",
            "in": "query",
            "required": true,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {

                }
              }
            }
          }
        }
      }
    },
    "/api/v1/report": {
      "get": {
        "tags": [
          "Контроллер для получения информаций"
        ],
        "summary": "Получение отчета по менеджерам",
        "operationId": "getReport",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ManagerReport"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/report/analytics": {
      "get": {
        "tags": [
          "Контроллер для получения информаций"
        ],
        "summary": "Получение мои показатели",
        "operationId": "getAnalytics",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AnalyticBlock"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/production-calendar/is-working-day": {
      "get": {
        "tags": [
          "production-calendar-controller"
        ],
        "operationId": "isWorkingDay",
        "parameters": [
          {
            "name": "date",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/production-calendar/initialize": {
      "get": {
        "tags": [
          "production-calendar-controller"
        ],
        "operationId": "initializeCalendar",
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/marks/{type}": {
      "get": {
        "tags": [
          "Интерфейс для работы с маркировками"
        ],
        "summary": "Получение списка всех маркировок",
        "operationId": "getAllParentsWithChildren",
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Mark"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/manager-user/transfer": {
      "get": {
        "tags": [
          "Интерфейс для работы с менеджерами"
        ],
        "operationId": "getManagerUsersForTransfer",
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ManagerUserDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/kcell_client/{clientId}": {
      "get": {
        "tags": [
          "Интерфейс для работы с клиентами Kcell"
        ],
        "summary": "Получение детальной карточки клиента",
        "description": "Возвращает полную детализацию карточки клиента по его идентификатору.\n\nНа текущем этапе реализована поддержка только clientType=B2C.\nВ дальнейшем endpoint будет расширен для поддержки B2B без изменения URL.\n\nЧто возвращает для B2C:\n- header профиля клиента;\n- общую информацию;\n- дополнительную информацию;\n- лицевые счета;\n- финансовые показатели;\n- действующие продукты и услуги;\n- договоры и архив документов;\n- специальные предложения.\n\nПараметры:\n- clientId — внутренний идентификатор клиента;\n- clientType — тип клиента. Сейчас поддерживается только B2C.\n\nВозможные ошибки:\n- 404 — клиент не найден;\n- 400 — передан неподдерживаемый clientType.\n",
        "operationId": "getClient",
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "description": "Идентификатор клиента",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 123
          },
          {
            "name": "clientType",
            "in": "query",
            "description": "Тип клиента. На текущем этапе поддерживается только B2C",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "B2C"
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ClientDetailResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Интерфейс для работы с клиентами Kcell"
        ],
        "summary": "Мягкое удаление клиента (Soft Delete)",
        "description": "Помечает клиента как удаленного, устанавливая текущую дату в поле deleted_at. Доступно только пользователям с ролью ROLE_ADMIN. После удаления клиент перестает отображаться в обычных списках.",
        "operationId": "softDeleteClient",
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "description": "Идентификатор клиента для удаления",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 22
          }
        ],
        "responses": {
          "500": {
            "description": "Внутренняя ошибка сервера",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "403": {
            "description": "Доступ запрещен: у пользователя недостаточно прав (нужна ROLE_ADMIN)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "204": {
            "description": "Клиент успешно помечен как удаленный (No Content)"
          },
          "404": {
            "description": "Клиент с указанным ID не найден"
          }
        }
      }
    },
    "/api/v1/kcell_client/{clientId}/pre-delete-check": {
      "get": {
        "tags": [
          "Интерфейс для работы с клиентами Kcell"
        ],
        "summary": "Проверка зависимостей перед удалением",
        "description": "Анализирует финансовый баланс, активные контракты, тикеты и другие связи клиента. Возвращает список предупреждений, если удаление может затронуть активные процессы.",
        "operationId": "preDeleteCheck",
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "description": "ID клиента для проверки",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 22
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "403": {
            "description": "У пользователя недостаточно прав (требуется ROLE_ADMIN)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "200": {
            "description": "Проверка успешно выполнена",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PreDeleteCheckResponse"
                }
              }
            }
          },
          "404": {
            "description": "Клиент с таким ID не найден",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PreDeleteCheckResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/kcell_client/search-by-iin": {
      "get": {
        "tags": [
          "Интерфейс для работы с клиентами Kcell"
        ],
        "summary": "Поиск клиента по ИИН (B2C) или БИН (B2B)",
        "operationId": "searchByIin",
        "parameters": [
          {
            "name": "iin",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {

                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/kcell_client/search-by-contact": {
      "get": {
        "tags": [
          "Интерфейс для работы с клиентами Kcell"
        ],
        "summary": "Поиск клиента по контактным данным (PHONE, EMAIL, WHATSAPP)",
        "operationId": "searchByContact",
        "parameters": [
          {
            "name": "contactType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "value",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {

                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/kcell_client/filter": {
      "get": {
        "tags": [
          "Интерфейс для работы с клиентами Kcell"
        ],
        "summary": "Получения списка клиентов с пагинацией",
        "operationId": "filter_1",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Номер страницы (начиная с 0)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Количество записей на странице",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "searchString",
            "in": "query",
            "description": "Строка поиска (телефон, ИИН или ФИО)",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": 7012223344
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageResponseKcellClientInfoDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/contract/variables/{contractId}": {
      "get": {
        "tags": [
          "Интерфейс для работы с контрактами"
        ],
        "operationId": "getTemplateVariables",
        "parameters": [
          {
            "name": "contractId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TemplateKeyDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/contract/id": {
      "get": {
        "tags": [
          "Интерфейс для работы с контрактами"
        ],
        "summary": "Получение данных контракта по id",
        "operationId": "getByContractId",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "default": "sdfsdfsdf"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SegmentClientDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/contract/contract_variables/{contractId}": {
      "get": {
        "tags": [
          "Интерфейс для работы с контрактами"
        ],
        "operationId": "getContractVariables",
        "parameters": [
          {
            "name": "contractId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {

                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/contract/contract-number": {
      "get": {
        "tags": [
          "Интерфейс для работы с контрактами"
        ],
        "summary": "Получение данных контракта по номеру контракта",
        "operationId": "getByContractNumber",
        "parameters": [
          {
            "name": "contractNumber",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ContractDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/clients/task/re-assign/{taskId}/{username}": {
      "get": {
        "tags": [
          "Интерфейс для работы с задачами"
        ],
        "summary": "Переназначение задачи другому менеджеру",
        "operationId": "reAssignTask",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/clients/my-tasks/{clientId}": {
      "get": {
        "tags": [
          "Интерфейс для работы с задачами"
        ],
        "summary": "Получение деталей по клиенту",
        "operationId": "getSegmentClientData",
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "task_number",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "default": "sdfsdfsdf"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SegmentClientDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/clients/filter/dropdowns/{field}": {
      "get": {
        "tags": [
          "Сегментация"
        ],
        "summary": "Получение результата по каналу",
        "operationId": "dropDown",
        "parameters": [
          {
            "name": "field",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/clients/fields": {
      "get": {
        "tags": [
          "Сегментация"
        ],
        "summary": "Доступные поля для cегментации",
        "operationId": "getFields",
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/clients/fields/{field}": {
      "get": {
        "tags": [
          "Сегментация"
        ],
        "summary": "Доступные условия для полей сегментации",
        "operationId": "getConditionsByField",
        "parameters": [
          {
            "name": "field",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/clients/contacts/{id}": {
      "get": {
        "tags": [
          "Взаимодействия внутри микросервисов"
        ],
        "summary": "Получение контакта по id",
        "operationId": "getContactById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GetContactByIdRs"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/client/files": {
      "get": {
        "tags": [
          "Импорт и экспорт файлов"
        ],
        "summary": "Получить список загруженных файлов",
        "operationId": "files",
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UploadHistory"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/activities/report": {
      "get": {
        "tags": [
          "Activities"
        ],
        "summary": "Отчёт по активностям",
        "description": "Для рассылок используйте activityType=MAILING",
        "operationId": "getReport_1",
        "parameters": [
          {
            "name": "activityType",
            "in": "query",
            "description": "Тип активности (MAILING, CALL и др.)",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "MAILING"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Номер страницы",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Размер страницы",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageActivityReportDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/production-calendar/{id}": {
      "delete": {
        "tags": [
          "production-calendar-controller"
        ],
        "operationId": "delete_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/marks/contract/inactive/{clientId}": {
      "delete": {
        "tags": [
          "Интерфейс для работы с маркировками"
        ],
        "summary": "Удаление маркировки договора",
        "operationId": "inactiveContractMark",
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/client/byFileId/{id}": {
      "delete": {
        "tags": [
          "Импорт и экспорт файлов"
        ],
        "summary": "Удалить загруженный данные по файлу",
        "operationId": "deleteByFileId",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionBody"
                }
              }
            }
          },
          "200": {
            "description": "OK"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ExceptionBody": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          }
        }
      },
      "Condition": {
        "type": "object",
        "properties": {
          "condition": {
            "type": "string",
            "enum": [
              "notEqual",
              "greaterThan",
              "lessThan",
              "equal",
              "contains",
              "notContains",
              "greaterThanOrEqual",
              "lessThanOrEqual",
              "exclude",
              "in"
            ]
          },
          "field": {
            "type": "string"
          },
          "value": {
            "type": "string"
          },
          "priority": {
            "type": "string"
          },
          "sort": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SortField"
            }
          },
          "logicalConditions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LogicalCondition"
            }
          }
        }
      },
      "LogicalCondition": {
        "type": "object",
        "properties": {
          "logic": {
            "type": "string",
            "enum": [
              "OR",
              "AND"
            ]
          },
          "condition": {
            "$ref": "#/components/schemas/Condition"
          }
        }
      },
      "Segment": {
        "type": "object",
        "properties": {
          "createdBy": {
            "type": "string",
            "format": "uuid"
          },
          "updatedBy": {
            "type": "string",
            "format": "uuid"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "deletedAt": {
            "type": "string",
            "format": "date-time"
          },
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "editDate": {
            "type": "string",
            "format": "date-time"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "conditions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Condition"
            }
          },
          "collection": {
            "type": "string"
          },
          "depId": {
            "type": "string"
          },
          "srvDepCode": {
            "type": "string"
          }
        }
      },
      "SortField": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string"
          },
          "value": {
            "type": "string",
            "enum": [
              "ASC",
              "DESC",
              "ASC_ALPHA",
              "DESC_ALPHA"
            ]
          }
        }
      },
      "SegmentFilterDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "conditions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Condition"
            }
          }
        }
      },
      "PageResponseSegment": {
        "type": "object",
        "properties": {
          "content": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Segment"
            }
          },
          "totalElements": {
            "type": "integer",
            "format": "int64"
          },
          "totalPages": {
            "type": "integer",
            "format": "int32"
          },
          "page": {
            "type": "integer",
            "format": "int32"
          },
          "lastPage": {
            "type": "integer",
            "format": "int32"
          },
          "size": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "ProductionCalendarDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "date": {
            "type": "string",
            "format": "date"
          },
          "isHoliday": {
            "type": "boolean"
          },
          "isWeekend": {
            "type": "boolean"
          }
        }
      },
      "NonWorkingDaysRequest": {
        "type": "object",
        "properties": {
          "startDate": {
            "type": "string",
            "format": "date"
          },
          "endDate": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "FilterRequest": {
        "type": "object",
        "properties": {
          "filters": {
            "type": "object",
            "additionalProperties": {

            }
          }
        }
      },
      "ClientMarkDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "markId": {
            "type": "integer",
            "format": "int64"
          },
          "mark": {
            "type": "string"
          },
          "parentMark": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
[...]
